<!DOCTYPE html>
{% load static %}
<!-- ======= Header ======= -->
<header id="header" class="d-flex align-items-center">
  <div class="container d-flex align-items-center">

    <div class="logo mr-auto">
      <!-- <h1 class="text-light"><a href="index.html"><span>Niulogis</span></a></h1>
        Uncomment below if you prefer to use an image logo -->
      <h3>MATE<h3><h5>Make A Team Efficiently</h5>
    </div>

    <nav class="nav-menu d-none d-lg-block">
      <ul>
        <li class="drop-down"><a href="#">Ejemplos</a>
          <ul>
            <li><a href="#">SUS1000</a></li>
            <li><a href="#">ING1004</a></li>
          </ul>
        </li>
      </ul>
    </nav><!-- .nav-menu -->

  </div>
</header><!-- End Header -->